---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Ramit Surana" description="About Ramit Surana">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/work.jpg"
					alt="Ramit Surana at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<b>Minfytech</b>
					<p>
						<ul>
							<li>Part of the Well Architected Review Framework team as a Solution Architect. Completed AWS Architecture Review for more than 10 clients including startups, SMBs and Enterprises.</li>
							<li>Designed and implemented Data Lake solution using AWS services like AWS S3, Sagemaker, MWAA (Airflow),
							Glue, RedShift, EMR etc.</li>
							<li>Have experience in architecting solutions for the Healthcare segment to manage and store sensitive patient
							information (PII/PHI) inline with HIPAA/FedRamp compliance.</li>
							<li>Worked as a part of the AES(Application Engineering Services) Migration and App Modernization team.</li>
							<li>Led the Big Data App and Machine Learning Infrastructure Planning and Execution for the BookMyShow team from Data Center to AWS involving a group of 35-40 members spread across 7 teams.</li>
						</ul>
					</p>
					<b>Rean Cloud</b>
					<p>
						<ul>
						<li>Rean Cloud was later acquired by Hitachi Vantara.</li>
						<li>Part of the App Modernisation team, to develop and support BigData, Application Development and DevOps related activities.</li>
						<li>Had the opportunity to work with some client-side companies which are amongst the top Fortune 500 companies.</li>
						</ul>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>M.Tech. Data Science, BITS Pilani</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Projects</h2>
				<div class="content">
					<b>Using Deep Neural Networks with Adapters for Low Resource Languages like Sanskrit</b>
					<p>The objective of my dissertation is to demonstrate improvements in the accuracy levels of the NMT(Neural Machine
					Translation) with minimum levels of effort using transfer learning. I propose to use Machine Learning Adapters with
					HuggingFace Transformers. Using ML adapters the process of transfer learning has become very easy to do without
					ending up training large models for new tasks like language translation. In this project, I used Pfeiffer technique as model architecture.</p>
					<br>
					<b>GPT3 Hackathon/Technical University of Munich</b>
					<p> As a team, we were given the challenge by Siemens, to use the dataset of approx 200 emails in the german
					language and using GPT3 create a chatbot to extract the information of order number, order type, invoice
					status and return in JSON format. Using Python, I was able to transform the given dataset from XlS to JSON format and upload it to GPT3 using the upload API by GPT3, using classification techniques and completion text in GPT3, I was able to create a Rest API Endpoint using Python Flask Framework which can use email as input and provides the information on orders. Using HTML and JS, I was also able to create a simple chatbot web page to update any order information and respond to any customer query based on intent.</p>
					<br>
					<b>American Heart Association PMP Portal/ American Heart Association</b>
					<p>
					<u1><li>Technologies/Tools - EMR, AWS Lambda, Python, S3, HIPAA, FedRamp, SOC2, Jenkins, Step Functions, Docker</li>
					<li>The project involved provisioning a real-time portal for medical researchers across the globe. We provide curated medical data for analysis and AWS grants for research. </li>
					<li>As a part of my role is to maintain and improvise the development efforts towards provisioning EMR Clusters, GPU Single Node Instances, and backend infrastructure in Python with Data Science Tools such as Jupyter Hub, JupyterLab, and RStudio.</li>
					<li>Worked on the AWS platform to build and configure required architecture using Terraform and CloudFormation templates.</li>
					<li>Added new Jenkins-based Researcher Pipelines for setting up new AWS Accounts and taking backup of data and destroying the AWS account services during the offboarding of researchers.</li>
					<li>Developed various Rest API Endpoints in Python for usage in Website and deployment done using API Gateway.</li>
				</u1></p>
					<br>
					<b>IoT Solution for Real-Time Attendance with Analytics/ Wipro </b>
					<p>
					<u1><li>Technologies/Tools - Jenkins, AWS Lambda, Cognito, S3, Aurora MySQL DB, Quicksight</li>
					<li>The project involved a real-time IOT based solution for Attendance Based System covering Wipro campuses (100+) around India with more than 2 million swipes per day.</li>
					<li>For enabling views on the data, I had created an ETL job using AWS Glue to transform the data from SQL Database to S3 in JSON file format. Later using the quick sight BI tool we were able to connect to different tables using Left Join and create different dashboards using the Quicksight tool.</li>
					<li>Written python code covering business logic for different use cases to respond in less than 1.2 seconds.</li>
					<li>The solution involved integrating an existing system with AWS Cognito for authentication using AD/ADFS, enabling real-time analytics using AWS Quicksight Dashboard, Use ETL jobs for transforming data and notifications for real-time notification use cases.</li>
					</u1>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Awards and Certifications</h2>
				<div class="content">
					<p><u1>
						<li>Awards: Hitachi Inspiration Award for work done in American Heart Association PMP Portal, Speaker at XP(Extreme Programming) Conference 2016, Bangalore.</li>
						<li>Founder of <a href="https://ramitsurana.github.io/awesome-kubernetes/">awesome-kubernetes</a> repo, one of the largest open-source Kubernetes repositories.</li>
						<li>Certifications: Tensorflow Developer Certificate, Certified Kubernetes Administrator, AWS Solutions Architect - Associate, Hashicorp Certified: Terraform Associate, HIPAA Certified.</li>
					</u1>
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
